/.idea/
*.iml
target/
/nop-antlr4/nop-antlr4-playground/gen
/nop-antlr4/nop-antlr4-playground/src/main/antlr4/imports/.antlr
/nop-antlr4/nop-antlr4-playground/src/main/antlr4/imports/gen
/nop-xlang/gen/antlr
/nop-xlang/gen
/nop-antlr4/nop-antlr4-tool/gen/antlr4/xlang
/nop-idea-plugin/.gradle/7.2
/nop-idea-plugin/build
/nop-idea-plugin/.gradle
/nop-idea-plugin/nop-idea-plugin.jar
.antlr
/nop-idea-plugin/bin
/log
_dump
/db
/nop-antlr4/gen
/nop-antlr4/nop-antlr4-xlang/src/main/antlr4/imports/gen
/nop-antlr4/nop-antlr4-xpath/src/main/antlr4/imports/gen
