*.xml text eol=lf
*.yaml text eol=lf
*.xlib text eol=lf
*.xdef text eol=lf
*.xmeta text eol=lf
*.java text eol=lf
*.xwf text eol=lf
*.xgen text eol=lf
*.xrun text eol=lf
*.xtask text eol=lf
*.sql text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.xbiz text eol=lf
*.interp text eol=lf
*.tokens text eol=lf
*.xpl text eol=lf
*.md text eol=lf
*.csv text eol=lf
