---
layout: _nop/layouts/index
---

<main class="Page-content">
  <article class="Homepage">
    <header class="Homepage-header">
      <h1>Nop</h1>
      <p class="Homepage-slogan">基于可逆计算原理从零开始构建的新一代低代码平台</p>
      <p class="GetStarted"><a href="/projects/nop-entropy/docs/">开始了解<i class="fa fa-long-arrow-right"></i></a></p>
    </header>
  </article>
</main>
