
总体规划与设计
建设一套专门的食堂物资管理系统，能够整合菜单管理、成本核算、订餐系统以及物资出入库管理等各个环节，实现数据的实时共享与精准分析，为食堂的高效运营提供有力支撑，进而为学校师生打造更加优质、便捷的餐饮服务环境。
两类角色
系统分“服务公司、学校管理员”两类角色，不同角色具有不同的操作权限。
管理者
包括基础数据的维护、日常监管、成本核算及各类统计报表的查看。
服务公司
作为学校食堂的经营单位，服务公司对各公司日常经营进行管理维护，包括每日菜单管理、出入库管理、经营数据管理、供应商结算等。
功能概述
1基础数据管理
基础数据包括物资管理、供应商管理、服务公司管理、基础菜单管理等。学校管理员才有操作权限。
物资管理
食堂所用的各类食材统一纳入物资管理，实现物资的新增、编辑、删除及查询操作。
物资基础属性包括：物资分类（如蔬菜类、水果类、粮油类、调料类、易耗品类，可采用多级分类）、物资编码（物资的唯一标识符）、物资名称、计量单位、规格型号、物资图片、品牌、备注等。
学校管理员可以物资和时间为维度，对各项物资进行查询统计，如物资出入库数据、物资库存等。
供应商管理
各类食材的供货单位统称为供应商，实现供应商添加、修改、删除等操作。
供应商属性包括：供应商编码、供应商名称、社会信用代码、食品安全安全认证、联系人信息、企业简介、备注、状态(启用|禁用)等，备注：物资入库时已禁用的供应商将不出现在选择列表中，其历史数据将会保留。
学校管理员可以供应商和时间为维度进行查询统计，如供应商供货入库明细、账单结算等。
服务公司管理
学校食堂的经营单位称为服务公司，实现服务公司的新增、编辑、删除及查询操作。
服务公司基础属性包括：公司编码、公司名称、社会信用代码、食品安全安全认证、联系人信息、企业简介、备注、状态(启用|禁用)等。备注：已禁用的服务公司不能再登录使用系统，但历史数据将会保留。
作为学校食堂的重点监管对象，学校管理员可查询查看各服务公司的日常数据，如服务公司出入库明细、各类物资的库存、服务公司的所有操作明细，如出入库记录、经营数据录入记录，可从经营和物资两个角度对服务公司各类数据进行统计分析。
基础菜单管理
学校食堂菜单相对固定，学校管理员可对学校食堂日常菜单进行管理，服务公司每日菜单从基础菜单中选择。实现基础菜单的新增、编辑、删除及查询操作。
菜单基本属性包括，菜单编号、菜单名称、菜单类型（早中晚）、菜单图片、配餐材料、备注等。
为核算成本及从物资维度对服务公司经营进行日常监管，菜单信息包括配餐材料，包括材料(物资)编码、材料(物资)名称、计量单位、所需数量、成本单价等。
2 经营管理
服务公司完成日常经营数据的录入编辑，学校管理员只有查询查看权限。
日常经营数据包括入下：每日菜单管理、出入库管理、经营数据管理、供应商结算等。
库房管理
服务公司对各自的库房进行管理，包括库房的新增、编辑、删除操作。
库房基本属性包括：库房编码、库房名称、所属公司、备注等。
菜单管理
服务公司对各自的每日菜单进行管理，包括每日菜单的新增、编辑、删除及查询操作。如菜单日期已纳入结算日，每日菜单不能再进行编辑及删除操作。
每日菜单属性包括菜单日期、类别、菜单编码、菜单名称、菜单图片、菜单配料等。
服务公司的每日菜单只能从基础菜单中进行选择，如有缺少需通知学校管理员补充录入。
出入库管理
服务公司对各自的出入库进行管理，实现出入库的新增、编辑、删除及查询操作。
出入库属性包括所属服务公司、出入库编码、出入库日期、库房、经手人、供应商、已付金额、合计金额、出入库明细、附件材料（入库时需将供应商提供的票据作为附件上传）、出入库明细等。
出入库明细包括物资编码、物资名称、规格、单位、单价、数量、金额等。选择物资时可查看物资的库存数据。
出库操作可以从入库单出库，即整入整出。
出入库操作时，有权限的用户可锁定数据，已锁定的数据不能再编辑和删除。
学校管理员只能查看查询出入库数据，可查询以出入库数据为基础生成的各类统计报表。
盘库管理
服务公司可进行盘库操作，对库存误差可进行盘库入库及盘库出库操作。 
供应商结算
服务公司以入库单为依据(每项数据包含总金额、已结金额等)与供货商进行结算。 
经营数据管理
服务公司对各自的经营数据进行管理录入，经营数据包括以下订餐人数、经营成本、日偏差数据等。
订餐人数是指每天每道菜品（依据每日菜单）的实际的订餐数量，可从第三方API自动读取，也可手工录入，此数据可作为物资消耗和成本核算的依据。
经营成本包括服务公司每日经营的固定成本，包括水电费、人员工资、房租成本等，此项作为服务公司经营的成本数据。
日偏差数据是指根据每日出库单、每日成本核算，自动计算偏差，例如应提供牛肉200公斤，实际日出