<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置log4j2的自身log级别为warn -->
<!-- OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<configuration status="INFO" shutdownHook="disable" monitorInterval="30">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %C{3}.%M (%F:%L) %X{correlation}  %X{dataSource} - %m%n"/>
        </console>

    </appenders>

    <!-- <Logger name="com.example.log4j2demo" level="debug" additivity="false">
        <AppenderRef ref="ConsoleAppender" /> </Logger> -->

    <loggers>

        <root level="TRACE">
            <appender-ref ref="Console"/>
        </root>
        <!-- <AsyncLogger level="all" includeLocation="true">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo" />
            <appender-ref ref="RollingFileWarn" />
            <appender-ref ref="RollingFileError" />
            <appender-ref ref="RollingFileDebug" />
        </AsyncLogger> -->
    </loggers>

</configuration>